.popup {
  background: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
}

.popup__opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  max-width: 470px;
  margin: 10% auto;
  display: grid;
  grid-template-areas:
    ". button"
    "form .";
}

.popup__container_image {
  max-width: fit-content;
  grid-template-areas:
    ". button"
    "img ."
    "txt .";
}

.popup__form-container {
  text-align: center;
  width: 430px;

  padding: 26px;
  background: white;
  border-radius: 10px;
  grid-area: form;
}

.popup__close-button {
  cursor: pointer;
  background: none;
  border: none;
  grid-area: button;
  transition: 0.2s;
}

.popup__close-button:hover {
  opacity: 0.5;
}

.popup__title {
  margin: 10px 0 54px;
  text-align: left;
  font-size: 24px;
  font-weight: 900;
}

.popup__input {
  width: 100%;
  border: none;
}
.popup__line {
  margin-bottom: 30px;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #000;
}

.popup__submit-button {
  width: 100%;
  height: 50.152px;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

.popup__image-large {
  max-width: 75vw;
  max-height: 75vh;
  grid-area: img;
}
.popup__text-sub {
  margin-top: 10px;
  color: #fff;

  font-size: 12px;

  font-weight: 400;
  grid-area: txt;
}

@media screen and (max-width: 880px) {
  .popup__container {
    grid-template-areas:
      "button"
      "form";
    width: 90%;
  }
  .popup__container_image {
    max-width: fit-content;
    grid-template-areas:
      ". button"
      "img ."
      "txt .";
  }
  .popup__form-container {
    width: unset;
  }
  .popup__close-button {
    justify-self: end;
    padding-bottom: 13px;
  }
}
